<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Agregá KDABRA a tu fan page y hace que tu negocio se diferencie del resto con una mejor comunicación en Messenger...">
	<title>Mejorando tu comunicación en Facebook | KDABRA</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Oswald:400,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900" rel="stylesheet">

	<link rel="icon" type="image/png" href="http://www.gokdabra.com/content/img/favicon.png" />
	<link rel="stylesheet" type="text/css" href="/style/styleTest2.css">
	<link rel="canonical" href="http://www.gokdabra.com">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113157547-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-113157547-1');
	</script>

</head>
<body>

<main class="intro">
	<section class="inner">
		<div class="innerContent">
			<h1 class="kdabra-h1">¿Quéres que tu negocio destaque en Facebook?</h1>
			<h2 class="kdabra-h1-sub">KDABRA es la herramienta que necesitás para mejorar la comunicación en Messenger con tus clientes.</h2>
			<a class="btnStart scrollSection" id="idBtnStart" href="#content">¡Sí, quiero ver!</a>

		</div>

	</section>
</main>

<section id="content">
	<section class="content">
		<p class="headerText">
			KDABRA resuelve lo que tus clientes esperan al instante.
		</p>
		<p class="headerTextNoAfter">
			Sumate y potenciemos tu marca al máximo.
		</p>
		<p>Tenemos como objetivo acompañar a las empresas de 3 formas diferentes.</p>

		<div class="plan">
			<h3 class="titlePlan">Básico <span class="proxLaunch"><br />Gratis durante el lanzamiento</span></h3>
			<p>¿Tenés un negocio que recibe <span class="orange">siempre las mismas preguntas</span>? Configuralas en KDABRA  y permití una interacción más rápida.</p>
			<a class="linkKdabra" href="https://m.me/panycafeok" target="_blank">¡Mirá una demo!</a>
		</div>

		<div class="plan">
			<h3 class="titlePlan">Pro<br /><span class="proxLaunch">Próximamente</span></h3>
			<p>¿Querés tener un contacto constante con tus clientes? Invitalos a suscribirse y <span class="orange">enviales ofertas por e-mail</span> para hacer campañas a largo plazo.</p>
		</div>

		<div class="plan">
			<h3 class="titlePlan">Avanzado<br /><span class="proxLaunch">Próximamente</span></h3>
			<p>¿Ofreces productos que se destacan? Invitá potenciales clientes a tu e-commerce desde Messenger <span class="orange">mostrando los productos en oferta</span> o más vendidos y <span class="orange">convertilos</span> en <span class="orange">fans</span>.</p>
		</div>
	</section>

	<section class="form disabled">
		<p class="headerTextNoAfter">
			Hablemos de tus objetivos.
		</p>
		<form class="contactForm">
			<input class="inputForm" type="text" name="nombre" id="nombre" placeholder="¿Cómo te llamás?">
			<input class="inputForm" type="text" name="empresa" id="empresa" placeholder="¿Cómo se llama el negocio?">
			<select class="inputForm" id="plan" name="plan">
				<option value="0" default>¿Qué opción te interesa más?</option>
				<option value="1">Básico</option>
				<option value="2">Pro</option>
				<option value="3">Avanzado</option>
				<option value="4">Necesito algo a medida</option>
			</select>
			<input class="inputForm" type="text" name="email" id="email" placeholder="¿Cómo es tu e-mail?">
			<input class="inputForm" type="text" name="fanpage" id="fanpage" placeholder="Link a la fan page">
			<input class="disabled" type="text" id="form" value="test2">
			<input class="inputForm button" id="enviar" type="button" placeholder="¡Enviar!" value="¡Enviar!">
		</form>
	</section>
</section>

<footer>
	<section>
		<p>
			Estamos disponibles para hablar cuando quieras.<br />
			Desde Buenos Aires, Argentina... Para el mundo.<br />
			kdabradoers@gmail.com
		</p>
		<p>
			&copy; 2018 | 💻 con ❤ por <a id="linkDoers" href="http://www.doers.com.ar" target="_blank">Doers</a>!
		</p>
	</section>
</footer>
<script type="text/javascript" src="/scripts/script.js"></script>
<script src="https://my.hellobar.com/d31b13d83451bd61d67452b8b82ce265bf2bb8a5.js" type="text/javascript" charset="utf-8" async="async"></script>
</body>
</html>