<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Agregá KDABRA a tu fan page y hace que tu negociose diferencie del resto con una mejor comunicación en Messenger...">
	<title>Mejorando tu comunicación en Facebook | KDABRA</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style/style2.css">

</head>
<body>
	<header>
	<!--
		<h1 class="kdabraLogo">KDABRA</h1>
		<nav>
			<ul id="menuNav">
				<li>Descubrí</li>
				<li>Contactanos</li>
			</ul>
		</nav>
	-->
	</header>

	<main class="intro">
		<section class="inner">
			<div class="innerContent">
				<h1 class="kdabraLogo">KDABRA</h1>
				<p class="kdabraDesc">¿Quéres mejorar la página de Facebook de tu negocio?</p>
				<a class="btnStart" id="idBtnStart">¡Sí, quiero ver!</a>

			</div>
			
		</section>
	</main>

	<section id="content">
		<section class="content">
		<p class="headerText">
			Ayudamos a los negocios a resolver su comunicación en Facebook.
		</p>
		<p class="headerTextNoAfter">
			Sumate y potenciemos tu marca al máximo.
		</p>
		<p>Tenemos como objetivo acompañar a las empresas de 3 formas diferentes.</p>

		<h3 class="titlePlan"><span class="textKdabra">KDABRA</span> | Básico <span class="proxLaunch">Gratis durante el lanzamiento</span></h3>
		<p>Configura las preguntas que más realizan a los negocios en el día a día mediante Facebook. Permití una interacción más rápida con tu comercio</p>
		<a class="linkKdabra" href="https://m.me/panycafeok" target="_blank">¡Mirá una demo!</a>
		<h3 class="titlePlan"><span class="textKdabra">KDABRA</span> | Pro <span class="proxLaunch">Próximamente</span></h3>
		<p>Invitá a tus clientes a suscribirse y enviales ofertas por mail e-mail para hacer campañas constantes a tus usuarios.</p>

		<h3 class="titlePlan"><span class="textKdabra">KDABRA</span> | Avanzado <span class="proxLaunch">Próximamente</span></h3>
		<p>Invitalos a ir a tu e-commerce desde Messenger mostrando los productos en oferta o más vendidos.</p>
		</section>

		<!--section class="content">
			<p>Creemos que la comunicación entre las personas y las marcas que eligen todos los días debe ser rápida y eficaz. Agregando esta tecnología a uno de los canales más usados en el mundo, Facebook, logramos que no pierdas tu tiempo. Por eso hicimos <span class="textKdabra">KDABRA</span>.</p>
		</section-->
		<section class="form">
			<p class="headerTextNoAfter">
			Contactate con nosotros.
		</p>
			<form class="contactForm">
				<input class="inputForm" type="text" name="nombre" id="nombre" placeholder="¿Cómo te llamás?">
				<input class="inputForm" type="text" name="empresa" id="empresa" placeholder="¿Cómo se llama el negocio?">
				<select class="inputForm" id="plan" name="plan">
				  <option value="0" default>¿Qué opción te interesa más?</option>
		          <option value="1">Básico</option>
		          <option value="2">Pro</option>
		          <option value="3">Avanzado</option>
		          <option value="4">Necesito algo a medida</option>
		        </select>
		        <input class="inputForm" type="text" name="email" id="email" placeholder="¿Cómo es tu e-mail?">
				<input class="inputForm" type="text" name="mensaje" id="mensaje" placeholder="Dejanos un mensaje" rows="3">
				<input class="inputForm button" id="enviar" type="button" placeholder="¡Enviar!" value="¡Enviar!">
			</form>
		</section>
	</section>

	<footer>
		<section>
		<p>
			Estamos disponibles para hablar cuando quieras.<br />
			Desde Buenos Aires, Argentina... Para el mundo.<br />
			kdabradoers@gmail.com
		</p>
		<p>
			&copy; 2018 | 💻 con ❤ por <a id="linkDoers" href="http://www.doers.com.ar" target="_blank">Doers</a>!
		</p>
	</section>
	</footer>
		<script type="text/javascript" src="/scripts/script.js"></script>
</body>
</html>