<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>KDABRA | Comunicate.</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style/style2.css">

</head>
<body>
	<header>
	<!--
		<h1 class="kdabraLogo">KDABRA</h1>
		<nav>
			<ul id="menuNav">
				<li>Descubrí</li>
				<li>Contactanos</li>
			</ul>
		</nav>
	-->
	</header>

	<main class="intro">
		<section class="inner">
			<div class="innerContent">
				<h1 class="kdabraLogo">KDABRA</h1>
				<p class="kdabraDesc">¿Quéres mejorar la página de Facebook de tu negocio?</p>
				<a class="btnStart" id="idBtnStart">¡Sí, quiero ver!</a>

			</div>
			
		</section>
	</main>

	<section id="content">
		<section class="content">
		<p class="headerText">
			Ayudamos a los negocios a resolver su comunicación en Facebook.
		</p>
		
		<!--h3 class="titleFuncionalidad">Planes</h3>
		<h3 class="titlePlan">Básico <span class="pricing"> Gratis | Por tiempo ilimitado si te sumás durante el lanzamiento</span></h3>
		<p>
			Configurá las preguntas que te realizan día a día en Facebook, y permitile a tus clientes una interacción más rápida por Messenger. 
		</p>
		<h3 class="titlePlan">Pro <span class="pricing"> $300 | Por mes</span> <span class="proxLaunch">Próximamente</span></h3>
		<p>
			Invitá a tus clientes a suscribirse y obtene sus contactos de e-mail para enviar campañas y contactarte de forma constante. También vas a obtener acceso a la plataforma de KDABRA para ver toda la información de tus usuarios, diferenciarlos por edad, sexo y enviar siempre la publicidad correcta.
		</p>
		<h3 class="titlePlan">Avanzado <span class="pricing"> $500 | Por mes</span> <span class="proxLaunch">Próximamente</span></h3>
		<p>
			¿Querés mostrar tus productos? Dalos de alta en KDABRA y mostrale los productos sugeridos a tus clientes cuando se contacten por Messenger. 
		</p-->
		<p class="headerText">
			Sumate y potenciemos tu negocio al máximo.
		</p>
		<p>Solemos acompañar a las empresas de 3 formas diferentes.</p>
	</section>


			<!--form class="formContacto">
				<span>Mail de Contacto</span>
				<input type="text" name="mail" id="mail">
			</form-->
		<section class="content">
			<p>Creemos que la comunicación entre las personas y las marcas que eligen todos los días debe ser rápida y eficaz. Agregando esta tecnología a uno de los canales más usados en el mundo, Facebook, logramos que no pierdas tu tiempo. Por eso hicimos <span class="textKdabra">KDABRA</span>.</p>
		</section>

	</section>

	<footer>
		<section>
		<p>
			Estamos disponibles para hablar cuando quieras.<br />
			Desde Buenos Aires, Argentina... Para el mundo.
		</p>
		<p>
			&copy; 2018 | 💻 con ❤ por <a id="linkDoers" href="http://www.doers.com.ar" target="_blank">Doers</a>!
		</p>
	</section>
	</footer>
		<script type="text/javascript" src="/scripts/script.js"></script>
</body>
</html>