		<section id="benefits disabled">
			<article class="benefit disabled">
				<h3 class="headerTextNoAfter">
					Optimize your work
				</h3>
				<p>We want you to continue working with community managers, the goal of KDABRA is to promote communication between people and facilitate their work.</p>
			</article>
			<article class="benefit disabled">
				<h3 class="headerTextNoAfter">
					From business to <span class="kdabra-orange">BRAND</span>
				</h3>
				<p>The platforms are increasingly interactive, KDABRA is the perfect ally to meet your users and transform them into <span class="kdabra-orange">fans</span>.</p>
			</article>
			<article class="benefit disabled">
				<h3 class="headerTextNoAfter">
					Looking to get <span class="kdabra-orange">you</span> up
				</h3>
				<p>KDABRA es nuestra forma de representar el valor que queremos otorgar. Haciendo la vida más fácil para usuarios y negocios.
				</p>
			</article>
		</section>


		<section id="benefits disabled">
			<article class="benefit disabled">
				<h3 class="headerTextNoAfter">
					Optimizá tu trabajo
				</h3>
				<p>Queremos que sigas trabajando con community managers, el objetivo de KDABRA es potenciar la comunicación entre las personas y facilitar su trabajo.</p>
			</article>
			<article class="benefit disabled">
				<h3 class="headerTextNoAfter">
					De negocio a <span class="kdabra-orange">MARCA</span>
				</h3>
				<p>Las plataformas son cada vez más interactivas, KDABRA es el aliado perfecto para conocer a tus usuarios y transformarlos en <span class="kdabra-orange">fans</span>.</p>
			</article>
			<article class="benefit disabled">
				<h3 class="headerTextNoAfter">
					Buscando elevarte
				</h3>
				<p>KDABRA es nuestra forma de representar el valor que queremos otorgar. Haciendo la vida más fácil para usuarios y negocios.
				</p>
			</article>
		</section>

	<section class="form">
		<p class="kdabra-header-text">
			Let's talk about your objetives.
		</p>
		<form class="kdabra-contact-form">
			<input class="kdabra-input-form" type="text" name="name" id="id-name" placeholder="Your Name">
			<input class="kdabra-input-form" type="text" name="empresa" id="empresa" placeholder="Brand Name">
			<input class="kdabra-input-form" type="text" name="email" id="email" placeholder="E-Mail">
			<input class="kdabra-input-form kdabra-button" type="button" id="send"  placeholder="Send!" value="Send!">
		</form>
	</section>

		<section class="form disabled">
		<p class="headerTextNoAfter">
			Hablemos de tus objetivos.
		</p>
		<form class="contactForm">
			<input class="inputForm" type="text" name="nombre" id="nombre" placeholder="¿Cómo te llamás?">
			<input class="inputForm" type="text" name="empresa" id="empresa" placeholder="¿Cómo se llama el negocio?">
			<input class="inputForm" type="text" name="email" id="email" placeholder="¿Cómo es tu e-mail?">
			<input class="inputForm button" id="enviar" type="button" placeholder="¡Enviar!" value="¡Enviar!">
		</form>
	</section>




form {
  width: 80%;
  display: block;
  margin: 0 auto;
}



#benefits {
  margin: 0 auto;
  display: block;
  width: 80%;
}

#benefits .benefit {

  padding: 1em;
  margin: 2em auto;
  text-align: center;
  transition-property: transform, background-color, color;
  transition-duration: 1s;
  border-radius: 15px;
  color: black;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.08), 0 1px 3px 0 rgba(0,0,0,.05);
}
/*#benefits .benefit:hover {
  transition-property: transform, background-color, color;
  transition-duration: 1s;
  transform: scale(1.10);
  background-color: #f16334;
  color: white;
}*/
#benefits .benefit p {
  color: inherit;
}




input, textarea, select, button {
  margin: 0 auto;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
}

.kdabra-contact-form {
  margin: 0.5em auto;
}

.kdabra-input-form {
  text-align: center;
  display: block;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-top: 1.5em;
  font-size: 1.10em;
  margin: 0 auto;
  border-right: none;
  background-color: transparent;
  border-top: none;
  border-left: none;
  margin-bottom: 1.5em;
}

.kdabra-input-form:focus { 
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.kdabra-button {
  border: 1px solid #ff7979;
  border-radius: 9px;
  height: 2em;
}