/*
* === STYLES RESET ===
*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f16334;
}

header h1,
header h2,
section p,
footer p {
 margin: 0;
}

p {
  font-size: 1.25em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 300;
  color: black;
}

/*
* ================================================
* ================================================
* ================================================
*/


/*
* === STYLES HEADER ===
*/
header {
  background-color: #f16334;
}

.kdabra-nav {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 1em;
}

.kdabra-lang-wrap {
  display: inline-block;
}

.kdabra-lang{
  opacity: 0.5;
}

.kdabra-lang-active:before {
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .2;
  margin-left: 1em;
  content: ' | ';
  position: relative;
}

.kdabra-lang-wrap a{
  text-decoration: none;
  color: white;
}


/*
* ================================================
* ================================================
* ================================================
*/

/*
* === STYLES INTRO ===
*/

.kdabra-intro {
  height: 100%;
  width: 100%;
  margin: auto;
  display: table;
  top: 0;
  background-color: #f16334;
}

.kdabra-inner {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  max-width: none;
}

.kdabra-inner-content {
  margin: 0 auto;
  text-align: center;
}

.kdabra-h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2em;
  padding: 0;
  margin: 0;
}

/* Descripción y sub-mensaje */
.kdabra-h1-sub {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;

}

.kdabra-h1-vp {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.kdabra-btn-start {
  color: #f16334;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
  border: solid  white 3px;
  border-radius: 9px;
  padding: 0.4em 0.8em;
}

/*
* ================================================
* ================================================
* ================================================
*/

/*
* === STYLES MAIN ===
*/

main {
  background-color: white;
}

.kdabra-main-content {
  height: 100%;
  margin: auto;
  display: table;
  width: 75%;
}

.kdabra-text-header-after {
     font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.kdabra-text-header-after::after {
  content: '';
  width: 4em;
  height: 2px;
  background: #f16334;
  bottom: -2px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.33em;
}
.kdabra-text-header {
  font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}


/*
* === STYLES PLAN ===
*/

.kdabra-plan {
  margin: 1em auto;
  padding: 0.6em;
  display: block;
  width: 90%;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.08), 0 1px 3px 0 rgba(0,0,0,.05);
}

.kdabra-plan-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: black;
  font-weight: 700;
}

.kdabra-plan-launch {
  font-weight: 300;
  color: #c0392b;
}
/*
* ================================================
* ================================================
* ================================================
*/

/*
* === STYLES GENERAL ===
*/

.disabled {
  visibility: hidden;
  display: none;
}

.kdabra-wider {
  font-weight: 700;
}

.kdabra-orange {
  color: #e67e22;
}

.kdabra-link-demo {
  text-decoration: none;
  color: #c0392b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  display: block;
  text-align: center;
}
/*
* ================================================
* ================================================
* ================================================
*/

/*
* === STYLES FOOTER ===
*/


#linkDoers {
  text-decoration: none;
  color: white;
}

#linkDoers:hover {
  color: white;
}

footer {
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #f16334;
  width: 100%;
}

footer section {
  background-color: inherit;
  height: 100%;
  margin: auto;
  display: table;
  width: 75%;
}

footer section p {
  font-size: 0.85em;
  text-align: center;
  float: none;
  display: block;
  color: white;
}

#social-net {
      margin: 0.25em auto;
    text-align: center;
    font-size: 16px;
    height: 2em;
}
#social-net a img{
  border: 0 none;
}
#social-net a {
  text-decoration: none;
}


/* *
 * CAMBIO A MOBILE FIRST
 * LOS ESTILOS SE HACEN MOBILE, LUEGO PANTALLAS SUPERIORES A 900PX
 * */
@media only screen and (min-width: 900px) 
{
  p {
    font-size: 1.30em;
  }
  .kdabra-nav {
    font-size: 2em;
  }
  .kdabra-intro {
    margin: 2em auto;
  }
  .kdabra-h1 {
    font-size: 5em;
  }

  .kdabra-h1-logo {
    font-size: 3em;
  }
  .kdabra-btn-start {
    font-size: 2em;
    display: block;
    width: 30%;
    text-align: center;
    margin: 0 auto;
  }
  .kdabra-text-header-after {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  /* *
   * DIVS DE PLANES DE KDABRA
   * */
  #plans {
    display: flex;
  }
  #plans .plan {
    flex: 1;
    display: inline-block;
    width: 25%;
    margin: 2em 1em;
  }
  .kdabra-plan-title {
    font-size: 1.50em;
  }
}

