/* *
* RESET DE STYLES
* */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

header h1,
header h2,
section p,
footer p {
 margin: 0;
}
.disabled {
  visibility: hidden;
  display: none;
}
p {
  font-size: 1.25em;
}
/* * *
* SECCIÓN DE INTRODUCCIÓN
* * */
header {
  background-color: #f16334;
}
/* *
* COMIENZO
* */ 
.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  display: table;
  top: 0;
  background-color: #f16334;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
form {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.innerContent {
  margin: 0 auto;
  text-align: center;
}

/* Heading de KDABRA */

.kdabra-h1-logo {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 3em;
  padding: 0;
  margin: 0;
  /* eliminating de link*/
  text-decoration: none;
}
.kdabra-h1-logo:hover {
  
}

.kdabra-h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 5em;
  padding: 0;
  margin: 0;
}

/* Descripción y sub-mensaje */
.kdabra-h1-sub {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 1em;
  margin-left: 6em;
  margin-right: 6em;
}
#benefits {
  margin: 0 auto;
  display: block;
  width: 80%;
}

#benefits .benefit {

  padding: 1em;
  margin: 2em auto;
  text-align: center;
  transition-property: transform, background-color, color;
  transition-duration: 1s;
  border-radius: 15px;
  color: black;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.08), 0 1px 3px 0 rgba(0,0,0,.05);
}
/*#benefits .benefit:hover {
  transition-property: transform, background-color, color;
  transition-duration: 1s;
  transform: scale(1.10);
  background-color: #f16334;
  color: white;
}*/
#benefits .benefit p {
  color: inherit;
}

.kdabra-h1-vp {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 2em;
    margin-left: 0em;
    margin-right: 0em;
}
.wider {
  font-weight: 700;
}
/* Botón Comenza y acción al hover */
.btnStart {
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3em;
  text-decoration: none;
  border: solid  white 3px;
  border-radius: 9px;
  padding: 0.4em 0.8em;
  margin-bottom: 0.75em;
  margin-top: 6em;
}
.btnContact {
  color: orange;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    border: solid orange 3px;
    border-radius: 9px;
    padding: 0.4em 0.8em;
    margin: 0 auto;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    display: block;
    text-align: center;
    width: 60%;
}

/* *
* FIN
* */ 

.headerText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.headerText::after {
  content: '';
  width: 4em;
  height: 2px;
  background: #f16334;
  bottom: -2px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.33em;
}
.headerTextNoAfter {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 35px;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

.textKdabra {
  color: #c0392b;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.content {
  height: 100%;
  margin: auto;
  display: table;
  width: 75%;
}
#content .demo {
  margin: 0;
  padding: 0.5em;
  background-color: #f9f9f9;
  border-bottom: solid #999 1px;
  border-top: solid #999 1px;
  width: 100%;
}

.titleDemo {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #999;
  font-weight: 300;
  margin: 0;
}

.titleDemo a {
  text-decoration: none;
  color: #999;
}

.titleDemo a:hover{
  color: #c0392b;
}

.titleDemoDesc {
  width: 75%;
  margin: 1em auto;
}
.titleFuncionalidad {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #999;
  font-weight: 300;
}
.titlePlan {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: black;
  font-weight: 900;
}

p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 300;
  color: black;
}



#linkDoers {
  text-decoration: none;
  color: white;
}

#linkDoers:hover {
  color: white;
}

.proxLaunch {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #c0392b;
}
/* *
* Footer styles
* */
footer {
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #f16334;
  width: 100%;
}
footer section {
  background-color: inherit;
  height: 100%;
  margin: auto;
  display: table;
  width: 75%;
}
footer p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  color: white;
}

.titlePlan {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}
.linkKdabra {
  text-decoration: none;
  color: #c0392b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  display: block;
  text-align: center;
}
input, textarea, select, button {
  margin: 0 auto;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
}

.inputForm {
  text-align: center;
  display: inline-block;
  width: 45%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-top: 1.5em;
  font-size: 1.10em;
  margin: 0 auto;
  border-right: none;
  background-color: transparent;
  border-top: none;
  border-left: none;
  margin-bottom: 1.5em;
}

.inputForm:focus { 
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.button {
  border: 1px solid #ff7979;
  border-radius: 9px;
  height: 2em;
}
.buttonSending {
  border: 1px solid #ff7979;
  border-radius: 9px;
  height: 2em;
  background-color: #ff7979;
  color: white;
}
.plan {
  margin: 2em auto;
  padding: 0.6em;
  display: block;
  width: 80%;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.08), 0 1px 3px 0 rgba(0,0,0,.05);
}
.orange {
  color: #e67e22;
}
#social-net {
      margin: 0.25em auto;
    text-align: center;
    font-size: 16px;
    height: 2em;
}
#social-net a img{
  border: 0 none;
}
#social-net a {
  text-decoration: none;
}
/* *
 * MEDIA FOR MOBILE AND SMALLER SCREENS
 * */
 @media only screen and (max-width: 900px) {
  .plan {
    width: 90%;
  }
  .kdabra-h1-logo {
    font-size: 1.25em;
  }
  .kdabra-h1 {
    font-size: 2em;
  }

  .kdabra-h1-sub {
     text-align: center;
    display: inline-block;
    width: 90%;
    margin: 1em auto;
    margin-left: 0;
    margin-right: 0;

  }

     
  .btnStart {
    font-size: 1.5em;
    color: white;
  }

  .headerText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .headerText::after {
    content: '';
    width: 2em;
    height: 2px;
    background: #c0392b;
    bottom: -2px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.33em;
  }
  .inputForm {
    width: 80%;
    display: block;
  }
  .headerTextNoAfter {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  footer section p {
    font-size: 0.90em;
    text-align: center;
    float: none;
    display: block;
  }
} 

@media only screen and (min-width: 900px) 
{
  #benefits {
    display: flex;
  }
  #benefits .benefit {
    flex: 1;
    display: inline-block;
    width: 25%;
    margin: 2em 1em;
  }
  #plans {
    display: flex;
  }
  #plans .plan {
    flex: 1;
    display: inline-block;
    width: 25%;
    margin: 2em 1em;
  }
}